<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="serverPath" value="192.168.0.75\\MSSQLSERVER1" />
      <add key="dbName" value="dbo" />
      <add key="dbAdminName" value="sa" />
      <add key="dbAdminPass" value="123456" />
  </appSettings>
</configuration>